<meta property="og:title" content="{{ title | safe }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ metadata.siteUrl }}/{{ page.url }}">
<meta property="og:description" content="{{ description | safe }}">
<meta property="og:site_name" content="{{ metadata.siteName }}">
<meta property="og:image" content="/img/cta-logo-reverse.png">
