/* Styles */
@font-face {
	font-family: Archivo;
	src: url(/fonts/archivo/Archivo-Regular.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Archivo;
	src: url(/fonts/archivo/Archivo-Italic.woff);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Archivo;
	src: url(/fonts/archivo/Archivo-Bold.woff);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Archivo;
	src: url(/fonts/archivo/Archivo-BoldItalic.woff);
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: Departure;
	src: url(/fonts/departure/DepartureMono-Regular.woff);
	font-weight: normal;
	font-style: normal;
}

/* Theme colors */
:root {
	--primary-accent: #29adff;
	--secondary-accent: #84d0ff;
	--primary-bg: #08121c;
	--secondary-bg: #151c26;
	--primary-text: #FFFFFF;
	--secondary-text: #5f6369;
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: 'Archivo', sans-serif;
	color: var(--primary-text);
	font-size: 24px;
	background-color: var(--primary-bg);
}

body {
	background-image: url("/img/site-bg.png");
	background-position: top right;
	background-repeat: no-repeat;
}

html {
	overflow-y: scroll;
}

.main-content {
	margin-bottom: 46px;
}

header {
	border-right: 4px solid var(--secondary-bg);
}

body {
	max-width: 1020px;
	margin: 100px auto 24px auto;
}

#container {
	display: grid;
	grid-template-columns: auto 746px;
	column-gap: 50px;
}

p:last-child {
	margin-bottom: 0;
}

p {
	line-height: 1.6;
}

h1 {
	font-size: 62px;
	line-height: 1.1;
	font-weight: bold;
	text-wrap: balance;
	font-family: 'Archivo', sans-serif;
	margin: 0 0 32px 0;
}

h1 a {
	text-decoration: none;
	color: var(--primary-text);
}

h1 a:hover {
	text-decoration: none;
	color: var(--primary-text);
	box-shadow: inset 0 -16px 0 var(--primary-accent);
}

h2 {
	font-size: 36px;
	line-height: 1.6;
	font-weight: bold;
	border-bottom: 4px solid var(--secondary-bg);
	padding-bottom: 4px;
	margin-top: 42px;
	font-family: 'Archivo', sans-serif;
}

h3 {
	font-size: 16px;
	line-height: 1.4;
	font-weight: normal;
	margin: 0 0 9px 0;
	font-family: 'Departure', monospace;
	text-transform: uppercase;
	letter-spacing: 1.25px;
	color: var(--primary-accent);
}

h4 {
	font-size: 28px;
	line-height: 1.4;
	font-weight: normal;
	margin-bottom: 52px;
}

h5 {
	font-size: 28px;
	line-height: 1.3;
	font-weight: bold;
	margin: 12px 0;
}

blockquote {
	padding-left: 30px;
	margin: 30px 0;
	border-left: 10px solid var(--secondary-accent);
	letter-spacing: 0;
	font-style: italic;
	text-wrap: balance;
}

.format-quote blockquote, .quote-block blockquote {
	padding-left: 0;
	margin: 0;
	border-left: 0;
	font-style: normal;
}

.quote-block {
	margin-bottom: 100px;
}

.format-quote blockquote p, .quote-block blockquote p, .mastodon-block .masto-post-body p {
	font-size: 32px;
	line-height: 1.4;
	text-indent: -12px;
}

.mastodon-block .masto-post-body p {
	text-indent: 0;
}

.format-quote blockquote p:before, .quote-block blockquote p:before {
	content: "“";
}

.format-quote blockquote p:after, .quote-block blockquote p:after {
	content: "”";
}

.update-block {
	background: var(--secondary-bg);
	padding: 32px;
	border-radius: 4px;
	margin: 38px 0 8px 0;
}

ul {
	padding: 0 0 0 20px;
}

li {
	line-height: 1.6;
}

ul li ul {
	padding: 0 0 0 24px;
}

ul li::marker {
	color: var(--secondary-accent) !important;
}

a, p a {
	color: var(--primary-text);
	transition: all .1s ease;
}

a:visited {
	color: var(--primary-text);
}

a:hover, p a:hover,
a:active, p a:active {
	color: var(--primary-accent);
}

table {
	margin: 1em 0;
}

table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: monospace;
}

code {
	word-break: break-all;
}

/* Header */
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}

.home-link img {
	width: 70px;
	height: auto;
	border-radius: 100px;
	background: var(--secondary-bg);
}

.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
/* .nav {
	padding: 0;
	margin: 32px 0;
	list-style: none;
} */

.nav {
	list-style: none;
	padding: 0;
	margin: 32px 0;
}

.nav-toggle {
	display: none;
}

.nav li {
	margin-bottom: 12px;
}

.nav-item a {
	font-family: 'Departure', monospace;
	font-size: 20px;
	line-height: 110%;
	text-decoration: none;
	color: var(--primary-text);
	display: inline-block;
	letter-spacing: 1.25px;
	text-transform: uppercase;
}

.nav-item a:not(:hover) {
	text-decoration: none;
}

.nav a[aria-current="page"], .nav a:hover {
	text-decoration: none;
	color: var(--primary-text);
	box-shadow: inset 0 -8px 0 var(--primary-accent);
	padding-bottom: 4px;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	margin: 0;
}

.postlist-date {
	font-family: 'Departure', monospace;
	margin-bottom: 28px;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: var(--primary-accent);
	display: block;
	letter-spacing: 1.25px;
}

.postlist-date a, .bookmark-list-date a {
	text-decoration: none;
	color: var(--primary-accent);
}

.postlist-date a:hover, .bookmark-list-date a:hover {
	text-decoration: underline;
}

.post-item {
	margin-bottom: 100px;
}

.postlist-content img {
	width: 100%;
	margin-bottom: 6px;
}

/* .postlist-content img {
	width: 100%;
	height: 400px;
	object-fit: cover;
} */

.postlist-item-active .postlist-link {
	font-weight: bold;
}

.bookmarks-page-style {
	margin-top: -24px;
}

.bookmark-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 24px;
}

.bookmark-block p {
	display: none;
}

.bookmark-post img {
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 4px 4px 0 0;
}

.bookmark-post {
	background: var(--secondary-bg);
	border-radius: 2px;
	margin-bottom: 24px;
	display: block;
}

.bookmark-post h5 {
	margin: 0 24px 20px 24px;
	display: block;
	font-weight: bold;
}

.bookmark-post h5 a, .archive-post h5 a {
	text-decoration: none;
}

.bookmark-post h5 a:hover, .archive-post h5 a:hover {
	text-decoration: underline;
}

.bookmark-list-date {
	margin: 24px 24px 12px 24px;
	font-family: 'Departure', monospace;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--primary-accent);
	display: block;
	letter-spacing: 0.6px;
}

.rating {
	margin-top: 28px;
	font-size: 28px;
}

.rating i {
	margin-right: -3px;
}

.archive-navigation ul {
	padding: 0;
	margin: 0;
}

.archive-navigation li {
	list-style: none;
	display: inline;
}

.postlist-tags a, .archive-navigation li a {
	margin: 36px 8px 0 0;
	padding: 16px 22px;
	border-radius: 100px;
	text-decoration: none;
	font-family: 'Departure', monospace;
	text-transform: uppercase;
	background: var(--secondary-bg);
	color: var(--secondary-text);
	display: inline-block;
	font-size: 16px;
	letter-spacing: 1.25px;
}

.archive-navigation li a {
	margin: 0 12px 0 0;
}

.postlist-tags a:hover, .archive-navigation li a:hover {
	background: var(--primary-accent);
	color: var(--primary-text);
}

footer {
	display: grid;
	grid-template-columns: 1fr auto;
	border-top: 4px solid var(--secondary-bg);
	padding: 24px 0 3px 0;
	font-size: 16px;
	color: var(--secondary-text);
}

footer .footer-links {
	display: inline;
	margin-right: 8px;
}

footer .footer-links:last-of-type {
	margin-right: 0;
}

footer a, footer a:visited {
	color: var(--secondary-text);
	text-decoration: none;
}

footer a:hover {
	color: var(--primary-accent);
	text-decoration: underline;
}

.links-nextprev {
	margin: 52px 0;
}

.more-button-style a {
	text-align: center;
	background: var(--secondary-bg);
	border-radius: 100px;
	padding: 15px 12px;
	display: block;
	font-family: 'Departure', monospace;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--secondary-text);
}

.more-button-style a:hover {
	background: var(--primary-accent);
	color: var(--primary-text);
	text-decoration: none;
}

/* sidebar */
.sidebar {
	position: sticky;
	top: 52px;
	width: 220px;
	padding-right: 32px;
}

/* now */
.now-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 38px;
	column-gap: 24px;
}

.now-playing-block, .now-reading-block {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 24px;
	background: var(--secondary-bg);
	border-radius: 4px;
	padding: 0 16px 0 0;
}

.now-playing-block p, .now-reading-block p {
	display: none;
}

.now-playing-block img,  .now-reading-block img {
	height: 132px;
	width: 90px;
	object-fit: cover;
	border-radius: 2px 0 0 2px;
	margin-bottom: -5px;
}

.now-playing-block a, .now-reading-block a {
	text-decoration: none;
}

.now-playing-block a:hover, .now-reading-block a:hover {
	text-decoration: underline;
}

.vert-align-copy {
	height: 100%;
	align-content: center;
}

.now-block .vert-align-copy a {
	line-height: 1.3;
}

/* archive */
.archive-post .bookmark-list-date {
	margin: 24px 0 0 0;
}

.archive-post p:last-of-type {
	margin: 12px 0 52px 0;
}

/* masto block */
img.masto-avatar {
	width: 70px;
	background: var(--primary-accent);
	border-radius: 100px;
}

.masto-header-info {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 24px;
	align-items: center;
}

.masto-user-info p {
	margin: 0;
}

.mastodon-block {
	margin-bottom: 100px;
}

.fa-mastodon {
	font-size: 36px;
}

a.masto-logo-link {
	align-self: normal;
	color: var(--secondary-text);
}

a.masto-logo-link:hover {
	color: var(--primary-accent);
}

.mastodon-block .postlist-date {
	margin: 28px 0 0 0;
}

.mastodon-block-post {
	padding: 32px 32px 42px 32px;
	background-color: var(--secondary-bg);
	background-image: url("/img/masto-bg.png");
	background-position: top right;
	background-repeat: no-repeat;
	margin-bottom: 24px;
	border-radius: 8px;
}

.masto-name {
	font-weight: bold;
}

.masto-address {
	color: var(--secondary-text);
}

/* pixelfed block */
.pixelfed-block-array {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 24px;
}

.pixelfed-block p {
	display: none;
}

.pixelfed-block-post img {
	width: 100%;
	height: 233px;
	object-fit: cover;
	border-radius: 2px;
	margin-bottom: 20px;
}

/* tumblr block */
p.error-text {
	margin-bottom: 32px;
}

.tumblr-block .tumblr-block-header img {
	height: 32px;
}

.tumblr-block .tumblr-block-header .more-button-style a {
	padding: 16px 22px;
	background: var(--primary-bg);
	letter-spacing: 1px;
}

.tumblr-block .tumblr-block-header .more-button-style a:hover {
	background: var(--primary-accent);
}

.tumblr-block-header {
	display: grid;
	grid-template-columns: 1fr auto;
	margin-bottom: 24px;
	align-items: center;
}

.tumblr-block {
	margin-bottom: 100px;
	padding: 32px 32px 8px 32px;
	background: var(--secondary-bg);
	border-radius: 8px;
}

.tumblr-block h3, .pixelfed-block h3 {
	margin-bottom: 24px;
}

.tumblr-block-post img:not(:first-of-type) {
	display: none;
}

.tumblr-block-array {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 24px;
}

.tumblr-block-post img {
	width: 100%;
	height: 329px;
	object-fit: cover;
	border-radius: 2px;
	margin-bottom: 20px;
}

@media only screen and (max-width: 1050px) {

	body {
		padding: 0 32px;
		margin: 50px auto 24px auto;
	}

	#container {
		display: block;
	}

	header {
		border-right: 0;
	}

	.sidebar {
		width: 100%;
		margin-bottom: 110px;
		display: grid;
		grid-template-columns: 1fr auto;
	}

	.socials, .masto-logo-link, .masto-avatar {
		display: none;
	}

	.tumblr-block-array, .bookmark-block, .now-block, .pixelfed-block-array {
		grid-template-columns: 1fr;
	}

	.now-playing-block {
		margin-top: 24px;
	}

	.nav {
		display: none;
		flex-direction: column;
	}

	.sidebar {
		padding-right: 0;
	}

	/* Show the nav when active */
	.nav.active {
		display: flex;
		position: absolute;
		right: 0px;
		background: var(--secondary-bg);
		padding: 18px 32px 12px 32px;
		top: 32px;
		border-radius: 4px;
	}

	/* Style the button */
	.nav-toggle {
		display: initial;
		background: none;
		border: none;
		font-size: 28px;
		cursor: pointer;
		color: var(--primary-text);
		height: 75px;
	}

	.nav-toggle:focus {
		outline: none;
	}

	footer {
		display: block;
	}

	.footer-02 {
		margin-top: 12px;
	}

}
