/* Styles */

/* Archivo */
@font-face {
	font-family: Archivo;
	src: url(/fonts/archivo/Archivo-Regular.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Archivo;
	src: url(/fonts/archivo/Archivo-Italic.woff);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Archivo;
	src: url(/fonts/archivo/Archivo-Bold.woff);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Archivo;
	src: url(/fonts/archivo/Archivo-BoldItalic.woff);
	font-weight: bold;
	font-style: italic;
}

/* Departure */
@font-face {
	font-family: Departure;
	src: url(/fonts/departure/DepartureMono-Regular.woff);
	font-weight: normal;
	font-style: normal;
}

/* Theme colors */
:root {
	--primary-accent: #FFD100;
	--secondary-accent: #FFE880;
	--primary-bg: #111111;
	--secondary-bg: #1a1a1a;
	--primary-text: #FFFFFF;
	--secondary-text: #595959;
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: 'Archivo', sans-serif;
	color: var(--primary-text);
	font-size: 24px;
	background-color: var(--primary-bg);
}

body {
	max-width: 746px;
	margin: 80px auto 24px auto;
}

html {
	overflow-y: scroll;
}

header {
	margin-bottom: 100px;
}

a.home-link {
	position: absolute;
	margin-left: -142px;
	opacity: .35;
	filter: grayscale(100%);
}

a.home-link:hover {
	opacity: 1;
	filter: none;
}

a.home-link img {
	width: 64px;
}

a.home-link-mobile {
	display: none;
}

p:last-child {
	margin-bottom: 0;
}

p {
	line-height: 1.6;
}

h1 {
	font-size: 64px;
	line-height: 1.1;
	font-weight: bold;
	text-wrap: balance;
	font-family: 'Archivo', sans-serif;
	margin: 0 0 32px 0;
}

h1 a, .block-heading-title, .type-page h1 {
	text-decoration: none;
	color: var(--primary-text);
	box-shadow: inset 0 -16px 0 var(--secondary-text);
}

.block-heading-title, .type-page h1 {
	display: inline-block;
}

h1 a:hover {
	text-decoration: none;
	color: var(--primary-text);
	box-shadow: inset 0 -16px 0 var(--primary-accent);
}

.type-page h1 {
	margin-bottom: 30px;
}

.type-page h1:before, .type-uses h1:before, .block-heading-title:before {
	content: "";
	width: 52px;
	height: 10px;
	background: var(--primary-accent);
	display: block;
	margin-bottom: 40px;
}

.tumblr-block-header h1:before {
	display: none;
}

h2 {
	font-size: 32px;
	line-height: 1.4;
	border-bottom: 6px solid var(--secondary-bg);
	padding-bottom: 4px;
	margin-top: 42px;
	font-family: 'Archivo', sans-serif;
	letter-spacing: 0.5px;
	font-weight: bold;
}

h3 {
	font-size: 14px;
	line-height: 1.4;
	margin: 0 0 16px 0;
	font-family: 'Departure', monospace;
	text-transform: uppercase;
	letter-spacing: 1.25px;
	color: var(--primary-accent);
	font-weight: normal;
}

h4 {
	font-size: 32px;
	line-height: 1.4;
	font-weight: normal;
	margin: 0 0 30px 0;
}

h5 {
	font-size: 28px;
	line-height: 1.3;
	font-weight: bold;
	margin: 12px 0;
}

blockquote {
	padding-left: 30px;
	margin: 30px 0;
	border-left: 10px solid var(--secondary-accent);
	letter-spacing: 0;
	text-wrap: pretty;
}

.format-quote blockquote, .quote-block blockquote {
	padding-left: 0;
	margin: 0;
	border-left: 0;
	font-style: normal;
}

.format-quote .postlist-title, .archive-post.format-quote h5 {
	display: none;
}

.quote-block {
	margin-bottom: 100px;
}

.mastodon-block .masto-post-body p, .masto-post-body.bluesky-variant {
	font-size: 32px;
	line-height: 1.4;
	text-indent: -12px;
	text-wrap: pretty;
}

.format-quote blockquote p, .quote-block blockquote p {
	font-size: 32px;
	line-height: 1.4;
	text-indent: -12px;
	text-wrap: pretty;
}

.mastodon-block .masto-post-body p, .masto-post-body.bluesky-variant {
	text-indent: 0;
}

.format-quote blockquote p:before, .quote-block blockquote p:before {
	content: "“";
}

.format-quote blockquote p:after, .quote-block blockquote p:after {
	content: "”";
}

.post-source, .post-source a, .post-source a:visited {
	color: var(--secondary-text);
}

.fa-up-right-from-square, .fa-solid.fa-right-long {
	margin-left: 3px;
	font-size: 86%;
}

.update-block {
	background: var(--secondary-bg);
	padding: 32px;
	border-radius: 8px;
	margin: 38px 0 8px 0;
}

ul {
	padding: 0 0 0 20px;
	margin: 0;
}

li {
	line-height: 1.6;
}

li ul li:first-of-type {
	margin-top: 18px;
}

.type-uses li ul li:first-of-type {
	margin-top: 0px;
}

ul li ul {
	padding: 0 0 0 24px;
}

ul li::marker {
	color: var(--secondary-accent) !important;
}

a, p a {
	color: var(--primary-text);
	transition: all .1s ease;
}

a:visited {
	color: var(--primary-text);
}

a:hover, p a:hover,
a:active, p a:active {
	color: var(--primary-accent);
}

/* s {
	color: var(--secondary-text);
} */

table {
	margin: 1em 0;
}

table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: monospace;
}

code {
	word-break: break-all;
}

/* Nav */
.nav {
	list-style: none;
	padding: 0;
}

.nav-toggle {
	display: none;
}

.nav li.nav-item {
	margin-bottom: 16px;
}

.nav li.nav-item:last-of-type {
	margin-bottom: 0px;
}

.nav-item a {
	font-family: 'Archivo', sans-serif;
	font-size: 24px;
	line-height: 90%;
	text-decoration: none;
	color: var(--primary-text);
	display: inline-block;
	word-spacing: -7px;
}

.nav-item a:not(:hover) {
	text-decoration: none;
}

.nav a[aria-current="page"], .nav a:hover {
	text-decoration: none;
	color: var(--primary-text);
	box-shadow: inset 0 -10px 0 var(--primary-accent);
	padding-bottom: 5px;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	margin: 0;
}

.postlist-date {
	font-family: 'Departure', monospace;
	margin-bottom: 28px;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: var(--primary-accent);
	display: block;
	letter-spacing: 1.25px;
}

.postlist-date a, .bookmark-list-date a {
	text-decoration: none;
	color: var(--primary-accent);
}

.postlist-date a:hover, .bookmark-list-date a:hover {
	text-decoration: none;
}

.single, .post-item {
	margin-bottom: 100px;
}

.main-content .post-item:last-of-type {
	margin-bottom: 0px;
}

figure {
	margin: 0 0 32px 0;
}

figcaption, figcaption a, figcaption a:visited {
	color: var(--secondary-text);
	text-align: right;
	font-size: 16px;
}

figcaption a:hover {
	color: var(--primary-accent);
}

.postlist-content p img, figure img {
	width: 100%;
	height: 420px;
	object-fit: cover;
	margin: 12px 0 0 0;
	border-radius: 0;
}

.postlist-item-active .postlist-link {
	font-weight: bold;
}

.bookmarks-page-style {
	margin-top: -24px;
}

.bookmark-block, .bookmark-block-home {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 24px;
}

.bookmark-block p {
	display: none;
}

.bookmark-post img {
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 2px 2px 0 0;
}

.bookmark-post {
	background: var(--secondary-bg);
	border-radius: 2px;
	margin-bottom: 24px;
	display: block;
}

.bookmark-post h5 {
	margin: 0 24px 20px 24px;
	display: block;
	font-weight: bold;
}

.bookmark-post h5 a, .archive-post h5 a {
	text-decoration: none;
}

.bookmark-post h5 a:hover, .archive-post h5 a:hover {
	text-decoration: underline;
}

.bookmark-list-date {
	margin: 24px 24px 18px 24px;
	font-family: 'Departure', monospace;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--primary-accent);
	display: block;
	letter-spacing: 0.6px;
}

.tumblr-block-header, .homemarks-block-header {
	/* display: grid;
	grid-template-columns: auto 1fr;
	align-items: center; */
	margin-bottom: 40px;
}

.homemarks-block-header img, .tumblr-block-header img {
	background: var(--primary-accent);
	width: 28px;
	height: auto;
	margin-right: 14px;
}



.homemarks-block-header h1, .tumblr-block-header h1, .now-media-block h1, .block-heading-title {
	font-family: 'Archivo', sans-serif;
	font-weight: bold;
	font-size: 64px;
	line-height: 1.1;
	margin: 0;
}

.bookmark-block-home h5 {
	font-size: 24px;
	min-height: 130px;
}

.bookmark-block-home .bookmark-post, .now-playing-block, .now-reading-block {
	box-shadow: var(--primary-bg) 0px 3px 20px;
}

.rating {
	margin-top: 28px;
	font-size: 28px;
}

.rating i {
	margin-right: -3px;
}

.archive-navigation ul {
	padding: 0;
	margin: 0;
}

.archive-navigation li {
	list-style: none;
	display: inline;
}

.postlist-tags {
	margin-top: 36px
}

.postlist-tags a, a.tag-cluster-item {
	margin: 0 6px 12px 0;
	padding: 16px 22px;
	border-radius: 100px;
	text-decoration: none;
	font-family: 'Departure', monospace;
	text-transform: uppercase;
	background: var(--secondary-bg);
	color: var(--secondary-text);
	display: inline-block;
	font-size: 16px;
	letter-spacing: 1px;
}

a.tag-cluster-item {
	margin: 12px 6px 0 0;
}

.tags-cluster {
	margin-top: 18px;
}

.archive-navigation li a {
	margin: 0 12px 0 0;
}

.postlist-tags a:hover, a.tag-cluster-item:hover {
	background: var(--primary-accent);
	color: var(--primary-bg);
}

footer {
	display: grid;
	grid-template-columns: 1fr auto;
	border-top: 6px solid var(--secondary-bg);
	padding: 24px 0 3px 0;
	font-size: 16px;
	color: var(--secondary-text);
	margin-top: 32px;
}

footer ul {
	list-style: none;
	padding: 0;
}

footer li.footer-links {
	display: inline;
	margin-right: 14px;
}

footer .footer-links:last-of-type {
	margin-right: 0;
}

footer a, footer a:visited {
	color: var(--secondary-text);
	text-decoration: none;
}

footer a:hover {
	color: var(--primary-accent);
	text-decoration: underline;
}

.footer-02 {
	align-content: center;
}

.links-nextprev {
	margin: 52px 0;
}

.more-button-style a {
	text-align: center;
	background: var(--secondary-bg);
	border-radius: 100px;
	padding: 16px 22px;
	display: block;
	font-family: 'Departure', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	color: var(--secondary-text);
}

.more-button-style a:hover {
	background: var(--primary-accent);
	color: var(--primary-bg);
	text-decoration: none;
}

/* About favourites */

.favourites-block {
	margin-top: 32px;
}

.favourites-reading-block, .favourites-playing-block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	column-gap: 12px;
}

.favourites-reading-block {
	margin-top: 7px;
}

.favourites-reading-block p, .favourites-playing-block p {
	display: none;
}

.favourite-book-block img {
	width: 100%;
	height: 210px;
	object-fit: cover;
	border-radius: 2px;
}

.favourite-game-block img {
	width: 100%;
	height: 190px;
	object-fit: cover;
	border-radius: 2px;
}

/* Back to top */
.back-to-top {
	font-family: 'Departure', monospace;
	font-size: 18px;
	position: fixed;
	bottom: 32px;
	right: 32px;
	padding: 12px 18px 12px 19px;
	background-color: var(--secondary-bg);
	color: var(--secondary-text);
	border: none;
	border-radius: 100px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.back-to-top:hover {
	background: var(--primary-accent);
	color: var(--primary-text);
	transition: all .1s ease;
}

.back-to-top.show {
	opacity: 1;
	visibility: visible;
}

/* now */
.now-block-contents {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 24px;
	row-gap: 24px;
}

.reading-playing-image {
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}

.now-playing-block, .now-reading-block {
	display: grid;
	grid-template-rows: auto 1fr;
	row-gap: 32px;
	background: var(--secondary-bg);
	border-radius: 8px;
	padding: 0;
	height: fit-content;
}

.now-playing-block p, .now-reading-block p {
	display: none;
}

.now-playing-block img,  .now-reading-block img {
	height: 450px;
	width: 100%;
	object-fit: cover;
	border-radius: 2px 2px 0 0;
	margin-bottom: -5px;
}

.now-playing-block a, .now-reading-block a {
	text-decoration: none;
}

.now-playing-block a:hover, .now-reading-block a:hover {
	text-decoration: underline;
}

.vert-align-copy {
	padding: 0 32px 32px 32px;
	height: 128px;
}

.now-block-contents .vert-align-copy a {
	line-height: 1.3;
}

.style-now ul li {
	margin-bottom: 18px;
}

.style-now ul li:last-of-type {
	margin-bottom: 0;
}

/* archive */
.archive-post .bookmark-list-date {
	margin: 24px 0 16px 0;
}

.archive-post p:last-of-type {
	margin: 12px 0 52px 0;
}

.archive-post:last-of-type {
	margin-bottom: 0px;
}

/* masto block */
img.masto-avatar {
	width: 70px;
	background: var(--primary-accent);
	border-radius: 100px;
}

.masto-header-info {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 24px;
	align-items: center;
}

.masto-user-info p {
	margin: -3px;
}

.mastodon-block {
	margin-bottom: 100px;
}

.fa-mastodon {
	font-size: 36px;
}

a.masto-logo-link {
	align-self: normal;
	color: var(--secondary-text);
}

a.masto-logo-link:hover {
	color: var(--primary-accent);
}

.mastodon-block .postlist-date {
	margin: 28px 0 0 0;
}

.mastodon-block-post {
	padding: 32px 32px 42px 32px;
	background-color: var(--secondary-bg);
	background-image: url("/img/masto-bg.png");
	background-position: top right;
	background-repeat: no-repeat;
	margin-bottom: 24px;
	border-radius: 8px;
}

.mastodon-block-post.bluesky-variant {
	background-image: url("/img/bsky-bg.png");
}

.masto-post-body.bluesky-variant {
		margin: 28px 0 0 0;
}

.masto-name {
	font-weight: bold;
}

.masto-address {
	color: var(--secondary-text);
}

/* pixelfed block */
.gallery-block-array {
	display: grid;
	grid-template-columns: repeat(6, minmax(auto, 1fr));
	grid-auto-rows: 30px;
	gap: 24px;
}

.gallery-block-array .gallery-block-post:nth-child(1) {
	grid-column: span 2;
	grid-row: span 5;
}

.gallery-block-array .gallery-block-post:nth-child(2) {
	grid-column: span 4;
	grid-row: span 10;
}

.gallery-block-array .gallery-block-post:nth-child(3) {
	grid-column: span 2;
	grid-row: span 5;
}

.gallery-block-array .gallery-block-post:nth-child(4) {
	grid-column: span 3;
	grid-row: span 7;
}

.gallery-block-array .gallery-block-post:nth-child(5) {
	grid-column: span 3;
	grid-row: span 7;
}

.gallery-block-array .gallery-block-post:nth-child(6) {
	grid-column: span 4;
	grid-row: span 10;
}

.gallery-block-array .gallery-block-post:nth-child(7) {
	grid-column: span 2;
	grid-row: span 5;
}

.gallery-block-array .gallery-block-post:nth-child(8) {
	grid-column: span 2;
	grid-row: span 5;
}

.gallery-block-array p {
	display: none;
}

.gallery-block-post {
	overflow: hidden;
	border-radius: 0;
}

.gallery-block-post img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	scale: 110%;
}

.now-media-block .more-button-style {
	margin-top: 24px;
}

/* tumblr block */
p.error-text {
	margin-bottom: 32px;
}

.tumblr-block .more-button-style a {
	padding: 16px 22px;
	background: var(--secondary-bg);
	letter-spacing: 1px;
	margin-top: 24px;
}

.tumblr-block .more-button-style a:hover {
	background: var(--primary-accent);
}

.tumblr-block h3, .now-media-block h3, .gallery-block h3 {
	margin-bottom: 24px;
}

.fa-bookmark, .fa-square-tumblr {
	margin-right: 8px;
	color: var(--primary-accent);
}

.fa-square-tumblr {
	font-size: 96%;
}

.fa-bookmark {
	font-size: 78%;
}

.tumblr-block-array {
	display: grid;
	grid-template-columns: repeat(6, minmax(auto, 1fr));
	grid-auto-rows: 30px; /* Small row height to allow flexibility */
	gap: 24px;
}

.tumblr-block-post {
	overflow: hidden;
	border-radius: 0;
}

.tumblr-block-post:nth-child(1) {
	grid-column: span 4;
	grid-row: span 10;
}

.tumblr-block-post:nth-child(2) {
	grid-column: span 2;
	grid-row: span 5;
}

.tumblr-block-post:nth-child(3) {
	grid-column: span 2;
	grid-row: span 5;
}

.tumblr-block-post:nth-child(4) {
	grid-column: span 3;
	grid-row: span 7;
}

.tumblr-block-post:nth-child(5) {
	grid-column: span 3;
	grid-row: span 7;
}

.tumblr-block-post:nth-child(6) {
	grid-column: span 2;
	grid-row: span 5;
}

.tumblr-block-post:nth-child(7) {
	grid-column: span 4;
	grid-row: span 10;
}

.tumblr-block-post:nth-child(8) {
	grid-column: span 2;
	grid-row: span 5;
}

.tumblr-block-post img {
	width: 100%;
	height: -webkit-fill-available;
	height: -moz-available;
	height: fill-available;
	object-fit: cover;
	scale: 110%;
}

.now-media-block, .homemarks-block, .tumblr-block, .now-play-read-block {
	margin-bottom: 100px;
	/* padding: 24px;
	background: linear-gradient(to bottom, var(--secondary-bg), var(--primary-bg));
	border-radius: 8px;
	border: 2px solid var(--secondary-bg); */
}

.lightbox .lb-image {
	border: 0px;
}

.lightboxOverlay {
	background: var(--primary-bg);
	opacity: .75;
}

@media only screen and (max-width: 1100px) {

	body {
		padding: 0 32px;
		margin: 50px auto 24px auto;
		font-size: 20px;
	}

	h1, .block-heading-title {
		font-size: 52px;
	}

	.tumblr-block-header, .homemarks-block-header {
		margin-bottom: 30px;
	}

	.block-heading-title::before {
		margin-bottom: 30px;
	}

	.type-page h1 {
		font-size: 46px;
	}

	h4 {
		font-size: 28px;
	}

	.postlist-date, .postlist-tags a, a.tag-cluster-item, .more-button-style a {
		font-size: 14px;
	}

	#container {
		display: block;
	}

	header {
		border-right: 0;
	}

	a.home-link-mobile {
		display: block;
	}

	a.home-link {
		display: none;
	}

	a.home-link-mobile img {
		width: 160px;
	}

	.socials, .masto-logo-link, .masto-avatar {
		display: none;
	}

	.sidebar nav, .sidebar .site-logo-sidebar {
		position: static;
	}

	.tumblr-block-array {
		display: initial;
	}

	.favourites-reading-block, .favourites-playing-block {
		row-gap: 12px;
	}

	.tumblr-block-post img, .gallery-block-post img {
		width: 100%;
		height: auto;
		margin-bottom: 12px;
		display: block;
	}

	.gallery-block-array {
		display: block;
	}

	.gallery-block-array .gallery-block-post {
		grid-column: initial;
		grid-row: initial;
	}

	.tumblr-block-post img:not(:first-child) {
		display: none;
	}

	.bookmark-block, .now-block-contents, .bookmark-block-home {
		grid-template-columns: 1fr;
	}

	.now-block-contents {
		column-gap: 0;
		row-gap: 0;
	}

	.now-reading-block, .now-media-block .more-button-style, .tumblr-block .more-button-style a {
		margin-top: 16px;
	}

	.bookmark-post, .gallery-block-post, .tumblr-block-post {
		margin-bottom: 16px;
	}

	.back-to-top {
		padding: 12px 20px 12px 22px;
		font-size: 24px;
	}

	.favourites-reading-block, .favourites-playing-block {
		grid-template-columns: 1fr 1fr;
	}

	.favourites-reading-block .favourite-book-block:nth-of-type(5),
	.favourites-playing-block .favourite-game-block:nth-of-type(5) {
		display: none;
	}

	.nav {
		display: none;
		flex-direction: column;
	}

	.sidebar {
		padding-right: 0;
		height: initial;
	}

	/* Show the nav when active */
	.nav.active {
		display: flex;
		position: absolute;
		right: 0px;
		background: var(--secondary-bg);
		padding: 18px 32px 12px 32px;
		top: 38px;
		border-radius: 4px;
	}

	/* Style the button */
	.nav-toggle {
		display: initial;
		background: none;
		border: none;
		font-size: 32px;
		cursor: pointer;
		color: var(--primary-text);
		padding: 0;
	}

	.nav-toggle:hover {
		color: var(--primary-accent);
	}

	.nav-toggle:focus {
		outline: none;
	}

	footer {
		display: block;
	}

	.footer-02 {
		margin-top: 12px;
	}

}
