/* Styles */
@font-face {
	font-family: Archivo;
	src: url(/fonts/archivo/Archivo-Regular.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Archivo;
	src: url(/fonts/archivo/Archivo-Italic.woff);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Archivo;
	src: url(/fonts/archivo/Archivo-Bold.woff);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Archivo;
	src: url(/fonts/archivo/Archivo-BoldItalic.woff);
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: Departure;
	src: url(/fonts/departure/DepartureMono-Regular.woff);
	font-weight: normal;
	font-style: normal;
}

/* Theme colors */
:root {
	--primary-accent: #29adff;
	--secondary-accent: #84d0ff;
	--primary-bg: #08121c;
	--secondary-bg: #151c26;
	--primary-text: #FFFFFF;
	--secondary-text: #5f6369;
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: 'Archivo', sans-serif;
	color: var(--primary-text);
	font-size: 24px;
	background-color: var(--primary-bg);
}

html {
	overflow-y: scroll;
}

header {
	border-right: 4px solid var(--secondary-bg);
}

body {
	max-width: 1020px;
	margin: 100px auto 24px auto;
}

#container {
	display: grid;
	grid-template-columns: 1fr auto;
	column-gap: 50px;
}

p:last-child {
	margin-bottom: 0;
}

p {
	line-height: 1.6;
}

h1 {
	font-size: 62px;
	line-height: 110%;
	font-weight: bold;
	text-wrap: balance;
	font-family: 'Archivo', sans-serif;
	margin: 0 0 32px 0;
	text-align: balance;
}

h1 a {
	text-decoration: none;
	color: var(--primary-text);
	box-shadow: inset 0 -16px 0 var(--primary-accent);
}

h1 a:hover {
	text-decoration: none;
	color: var(--primary-text);
	box-shadow: inset 0 -16px 0 var(--secondary-accent);
}

h2 {
	font-size: 42px;
	line-height: 1.6;
	font-weight: bold;
	border-bottom: 4px solid var(--secondary-bg);
	padding-bottom: 4px;
	margin-top: 36px;
	font-family: 'Archivo', sans-serif;
}

h3 {
	font-size: 16px;
	line-height: 1.4;
	font-weight: normal;
	margin: 0 0 8px 0;
	font-family: 'Departure', monospace;
	text-transform: uppercase;
	letter-spacing: 1.25px;
	color: var(--secondary-text);
}

blockquote {
	padding-left: 30px;
	margin: 30px 0;
	border-left: 10px solid var(--secondary-accent);
	letter-spacing: 0;
	font-style: italic;
}

ul {
	padding: 0 0 0 20px;
}

li {
	line-height: 1.6;
}

ul li ul {
	padding: 0 0 0 24px;
}

ul li::marker {
	color: var(--secondary-accent) !important;
}

a, p a {
	color: var(--primary-text);
	transition: all .1s ease;
}

a:visited {
	color: var(--primary-text);
}

a:hover, p a:hover,
a:active, p a:active {
	color: var(--primary-accent);
}

table {
	margin: 1em 0;
}

table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: monospace;
}

code {
	word-break: break-all;
}

/* Header */
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}

.home-link img {
	width: 64px;
	height: auto;
	border-radius: 100px;
}

.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	padding: 0;
	margin: 32px 0;
	list-style: none;
}

.nav li {
	margin-bottom: 12px;
}

.nav-item a {
	font-family: 'Departure', monospace;
	font-size: 20px;
	line-height: 110%;
	text-decoration: none;
	color: var(--primary-text);
	display: inline-block;
	letter-spacing: 1.25px;
	text-transform: uppercase;
}

.nav-item a:not(:hover) {
	text-decoration: none;
}

.nav a[aria-current="page"], .nav a:hover {
	text-decoration: none;
	color: var(--primary-text);
	box-shadow: inset 0 -8px 0 var(--primary-accent);
	padding-bottom: 4px;
}

ul.socials {
	margin: 0;
	padding: 0;
}

ul.socials li {
	list-style: none;
	margin-bottom: 16px;
}

ul.socials li a {
	background: var(--secondary-bg);
	color: var(--secondary-text);
	font-size: 16px;
	border-radius: 100px;
	padding: 12px 22px;
	text-align: center;
	font-family: 'Departure', nonospace;
	text-transform: uppercase;
	display: inline-block;
	letter-spacing: 1.25px;
	text-decoration: none;
}

ul.socials li a:hover {
	background: var(--primary-accent);
	color: var(--primary-text);
}

ul.socials li a i {
	width: 30px;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	margin: 0;
}

.postlist-date {
	font-family: 'Departure', monospace;
	margin-bottom: 28px;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: var(--primary-accent);
	display: block;
	letter-spacing: 1.25px;
}

.postlist-date a {
	text-decoration: none;
	color: var(--primary-accent);
}

.post-item {
	margin-bottom: 100px;
}

.postlist-content img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.postlist-item-active .postlist-link {
	font-weight: bold;
}

.bookmarks-page-style {
	margin-top: -24px;
}

.bookmark-post {
	margin-bottom: 100px;
}

.bookmark-post:last-of-type {
	margin-bottom: 0px;
}

.bookmark-post img {
	display: none;
}

.rating {
	margin-top: 28px;
	font-size: 28px;
}

.rating i {
	margin-right: -3px;
}

.postlist-tags a {
	margin: 36px 0 0 0;
	padding: 16px 22px;
	border-radius: 100px;
	text-decoration: none;
	font-family: 'Departure', monospace;
	text-transform: uppercase;
	background: var(--secondary-bg);
	color: var(--secondary-text);
	display: inline-block;
	font-size: 16px;
	letter-spacing: 1.25px;
}

.postlist-tags a:hover {
	background: var(--primary-accent);
	color: var(--primary-text);
}

.postlist-tags.single-tags {
	margin-bottom: 80px;
}

footer {
	display: grid;
	grid-template-columns: 1fr auto;
	border-top: 4px solid var(--secondary-bg);
	padding: 24px 0 3px 0;
	font-size: 16px;
	color: var(--secondary-text);
}

footer a, footer a:visited {
	color: var(--secondary-text);
	text-decoration: none;
}

footer a:hover {
	color: var(--primary-accent);
	text-decoration: underline;
}

.links-nextprev {
	margin: 60px 0;
}

/* sidebar */
.sidebar {
	position: sticky;
	top: 52px;
	width: 220px;
	padding-right: 32px;
}

/* now block */
.now-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: var(--secondary-bg);
	padding: 24px 0;
	border-radius: 4px;
	margin: 0 0 110px 0;
	column-gap: 32px;
}

.now-playing-block, .now-reading-block {
	display: grid;
	grid-template-columns: 1fr 3fr;
	column-gap: 12px;
}

.now-playing-block img, .now-reading-block img {
	height: 112px;
	rotate: -7deg;
	margin: -24px 0 -60px -12px;
}

.now-playing-block a, .now-reading-block a {
	text-decoration: none;
}

.now-playing-block a:hover, .now-reading-block a:hover {
	text-decoration: underline;
}

.vert-align-copy {
	margin: auto 0;
	margin-bottom: 4px;
}

/* tumblr block */
.tumblr-block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 16px;
}

.tumblr-block-post img {
	width: 100%;
	height: 260px;
	object-fit: cover;
	border-radius: 4px;
	margin-bottom: 12px;
}
