---
layout: layouts/home.njk
permalink: /archive/
eleventyNavigation:
  key: Archive
  order: 2
---

<h1>Archive</h1>

<h4>Posts are organized by year or by tag. Keep in mind that my views may have evolved over time.</h4>

<h2>Browse by year</h2>

<nav class="archive-navigation">
	<ul>
		{% for entry in collections.postsByYear %}
			<li><a href="#year-{{ entry.year }}">{{ entry.year }}</a></li>
		{% endfor %}
	</ul>
</nav>

<h2>Browse by tag</h2>

<div class="tags-cluster">
	{% for tag in collections.tagList | sort  %}
			<a href="/tags/{{ tag | slugify }}/" class="tag-cluster-item">#{{ tag }}</a>
	{% endfor %}
</div>

{% for entry in collections.postsByYear %}
	<h2 id="year-{{ entry.year }}">{{ entry.year }}</h2>
	{% for post in entry.posts %}
		<div class="archive-post format-{{ post.data.type }}">
			<p class="bookmark-list-date"><a href="{{ post.url }}">» {{ post.date | ordinalDate }}</a></p>
			{% if post.data.title %}
				<h5><a href="{{ post.url }}">{{ post.data.title }}</a></h5>
			{% endif %}
			<p>{{ post.templateContent | excerpt(120) }}</p>
		</div>
	{% endfor %}
{% endfor %}
