---
layout: layouts/base.njk
permalink: /bookmarks/
eleventyNavigation:
  key: Bookmarks
  order: 3
---

<h1>Bookmarks</h1>

<h4>A collection of articles, quotes, and other things I’ve come across online. You can also <a href="https://reederapp.net/qotk31U8S5GNHl5LIJOaGw.json">subscribe</a> to stay updated.</h4>

<div class="bookmark-block">
	{%- include 'bookmarks.njk' -%}
</div>

<div class="more-button-style"><a href="https://reederapp.net/qotk31U8S5GNHl5LIJOaGw">More »</a></div>

