---
layout: layouts/base.njk
eleventyNavigation:
  key: Bookmarks
  order: 3
---

<h1>Bookmarks</h1>

<h4>Some <strike>nice</strike> things to read online</h4>

<div class="bookmark-block">
	{%- include 'bookmarks.njk' -%}
</div>

<div class="more-button-style"><a href="https://reederapp.net/qotk31U8S5GNHl5LIJOaGw">View more</a></div>

