<style>
	.og-root {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background: #08121c;
		padding: 82px;
	}

	img.site-logo-og {
		width: 42px;
	}

	.title {
		color: #fff;
		box-shadow: inset 0 -16px 0 #60656B;
		font-size: 90px;
		margin: auto 0;
		font-family: 'Archivo Bold', sans-serif;
	}

	h2 {
		font-family: 'Decimal', monospace;
		text-transform: uppercase;
		color: #29ADFF;
		margin: 0;
		font-size: 30px;
	}
</style>

<div class="og-root">
	<img class="site-logo-og" src="https://crashthearcade.com/img/site-logo.png">
	<h1 class="title">{{ (title | decodeHTML | safe) or "crash the arcade" }}</h1>
	<h2>crashthearcade.com</h2>
</div>
