<style>
	.og-root {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background: #fff;
		padding: 42px;
	}

	img.site-logo-og {
		width: 60px;
	}

	.title {
		color: #08121c;
		font-size: 80px;
		margin: auto 0;
		font-family: 'Archivo Bold', sans-serif;
	}

	h2 {
		font-family: 'Departure', monospace;
		text-transform: uppercase;
		color: #29adff;
		margin: 0;
	}
</style>

<div class="og-root">
	<img class="site-logo-og" src="https://crashthearcade.com/img/og-cta-logo.png">
	<h1 class="title">{{ title }}</h1>
	<h2>crash the arcade</h2>
</div>
