<div class="gallery-block-array">
	{% for post in gallery %}
		<div class="gallery-block-post">
			<a href="{{ post.image }}" data-lightbox="gallery"><div><img src="{{ post.image }}"></div></a>
		</div>
	{% endfor %}
</div>
