<div class="gallery-block-array">
	{% for post in gallery %}
		<div class="gallery-block-post">
			<a href="{{ post.image }}" data-lightbox="visuals-gallery">
				<img src="{{ post.image }}" alt="{{ post.title }}">
			</a>
		</div>
	{% endfor %}
</div>
