<div class="now-playing-block">
	{% for game in backloggd %}
		<a href="https://www.backloggd.com/u/crashthearcade/journal/activity/"><div class="reading-playing-image"><img src="{{ game.image or '/img/no-cover.png' }}" alt="{{ game.title }}"></div></a>
		<div class="vert-align-copy"><h3>» Playing</h3><a href="https://www.backloggd.com/u/crashthearcade/journal/activity/">{{ game.title | excerpt(40) }}</a></div>
	{% endfor %}
</div>

<div class="now-reading-block">
	{% for post in goodreads %}
		<a href="{{ post.link }}"><div class="reading-playing-image"><img src="{{ post.image or '/img/no-cover.png' }}" alt="{{ post.title }}"></div></a>
		<div class="vert-align-copy"><h3>» Reading</h3><a href="{{ post.link }}">{{ post.title | excerpt(40) }}</a></div>
	{% endfor %}
</div>
