<div class="pixelfed-block-array">
	{% for post in pixelfed %}
		<div class="pixelfed-block-post">
			<a href="{{ post.link }}"><div>{{ post.description | safe }}</div></a>
		</div>
	{% endfor %}
</div>
