<div class="tumblr-block-header">
	<img src="/img/tumblr-logo.png" alt="Tumblr Logo">
	<div class="more-button-style"><a href="https://crashthearcade.tumblr.com/archive">More</a></div>
</div>
<div class="tumblr-block-array">
	{% if tumblr and tumblr.length > 0 %}
		{% for post in tumblr %}
			<div class="tumblr-block-post">
				<a href="{{ post.link }}">
					{{ post.description | safe }}
				</a>
			</div>
		{% endfor %}
	{% else %}
		<p class="error-text">No posts available.</p>
	{% endif %}
</div>
