<div class="tumblr-block-header">
	<img src="/img/tumblr-logo-v2.png" alt="Tumblr Logo">
	<div class="more-button-style"><a href="https://crashthearcade.tumblr.com/archive">More</a></div>
</div>
<div class="tumblr-block-array">
	{% if tumblr and tumblr.length > 0 %}
		{% for post in tumblr %}
			<div class="tumblr-block-post">
				<a href="{{ post.link }}">
					{% if post.imageUrl %}
						<img src="{{ post.imageUrl }}" alt="{{ post.title }}">
					{% else %}
						<p>No image available</p>
					{% endif %}
				</a>
			</div>
		{% endfor %}
	{% else %}
		<p class="error-text">No posts available.</p>
	{% endif %}
</div>
