<div class="tumblr-block-header">
	<img src="/img/tumblr-logo.png" alt="Tumblr Logo">
</div>

<div class="tumblr-block-array">
		{% if tumblr-v2.posts and tumblr-v2.posts.length > 0 %}
				{% for post in tumblr-v2.posts %}
						<div class="tumblr-block-post">
								<a href="https://{{ tumblr-v2.blogIdentifier }}.tumblr.com/post/{{ post.id }}">
										{{ post.description | safe }}
								</a>
						</div>
				{% endfor %}
		{% else %}
				<p class="error-text">No posts available.</p>
		{% endif %}
</div>

<div class="more-button-style"><a href="https://crashthearcade.tumblr.com/archive">More »</a></div>
