---
layout: layouts/og-image.njk
permalink: /blog/og-image/{{ page.fileSlug }}/
pagination:
  data: collections.blog
  size: 1
  alias: post
eleventyExcludeFromCollections: true
---

{% set title = post.data.title %}
{% set date = post.date | date('MMMM d, yyyy') %}

<h1>{{ title }}</h1>
<p>{{ date }}</p>
