---
layout: layouts/base.njk
---

<div class="format-{{ type }} single">

<time class="postlist-date" datetime="{{ date | htmlDateString }}">
	» {{ date | ordinalDate }}
</time>

<h1 class="postlist-title"><a href="#">{{ title }}</a></h1>

{% if thumbnailurl %}
	<figure>
		<img src="{{ thumbnailurl }}" alt="{{ title }}" />
		{% if thumbnailsource %}
			<figcaption>
				Photo by <a href="{{ thumbnailsourceurl }}" target="_blank">{{ thumbnailsource }}</a>
			</figcaption>
		{% endif %}
	</figure>
{% endif %}

<div class="postlist-content">{{ content | safe }}</div>

{% if rating %}
<div class="rating">
		{% for i in range(1, rating | int + 1) %}
				<i class="fa-sharp fa-solid fa-star"></i>
		{% endfor %}
		{% if rating % 1 != 0 %}
				<i class="fas sharp fa-star-half-alt"></i>
		{% endif %}
		{% set filledStars = rating | int %}
		{% if rating % 1 != 0 %}
				{% set filledStars = filledStars + 1 %}
		{% endif %}
		{% for i in range(filledStars, 5) %}
				<i class="fa-sharp fa-regular fa-star"></i>
		{% endfor %}
</div>
{% endif %}

{% if sourcename %}
<div class="postlist-tags single-tags">
	<a href="{{ sourceurl }}" target="_blank" class="postlist-tag post-source">Source: {{ sourcename }} <i class="fa-solid fa-up-right-from-square"></i></a>
</div>
{% endif %}

</div>
