---
layout: layouts/base.njk
---

<div class="format-{{ type }}">

<time class="postlist-date" datetime="{{ date | htmlDateString }}">
	» {{ date | ordinalDate }}
</time>

<h1 class="postlist-title"><a href="#">{{ title }}</a></h1>

<div class="postlist-content">{{ content | safe }}</div>

{% if rating is defined %}
<div class="rating">
		{% for i in range(1, rating | int + 1) %}
				<i class="fa-sharp fa-solid fa-star"></i>
		{% endfor %}
		{% if rating % 1 != 0 %}
				<i class="fas sharp fa-star-half-alt"></i>
		{% endif %}
		{% set filledStars = rating | int %}
		{% if rating % 1 != 0 %}
				{% set filledStars = filledStars + 1 %}
		{% endif %}
		{% for i in range(filledStars, 5) %}
				<i class="fa-sharp fa-regular fa-star"></i>
		{% endfor %}
</div>
{% endif %}

{% if post.data.update %}
	<div class="update-block">
		<h3>Update</h3>
		<p>{{ post.data.update | safe }}</p>
	</div>
{% endif %}

<div class="postlist-tags single-tags">
	{% if sourcename is defined %}
			<a href="{{ sourceurl }}" class="postlist-tag post-source">Source: {{ sourcename }} ↗</a>
	{% endif %}

	{% for tag in tags | sort %}
		{% if tag != "posts" %}
			<a href="/tags/{{ tag | slugify }}/" class="postlist-tag">#{{ tag }}</a>{% if not loop.last %} {% endif %}
		{% endif %}
	{% endfor %}
</div>

</div>
